:root{
    --text: rgb(65 59 59);
    --gradientTop: rgb(139 177 126);
    --gradientbottom: rgb(161 150 140);
    --boxShadow: rgba(0, 0, 0, 0.1);
    --button: rgb(214 181 150);
    --hover:  rgb(201 159 123);
    --sectionBgnd: rgb(243 233 221);
    --footerBgnd: rgb(243 233 221);
}
*{
    padding: 0;
    margin: 0;
    color: var(--text);
    box-sizing: border-box;
    overflow-wrap: break-word; 
    hyphens: auto; 
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: clip; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, var(--gradientTop), var(--gradientbottom));
}
main{
    max-width: 800px;
    margin: 60px auto;
    padding: 40px;
    background-color: var(--sectionBgnd);
    border-radius: 30px;
    box-shadow: 0 4px 15px var(--boxShadow);
    width: calc(100% - 30px);
}
h1{
    margin-bottom: 40px;
    font-size: 2rem;
}
section{
    margin-bottom: 30px;
}
section h2{
    font-size: 1.1rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
section p{
    line-height: 1.7;
    margin: 0;
}
section a{
    color: var(--button);
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
section a:hover{
    color: var(--hover);
    text-decoration: underline;
}

footer{
    text-align: center;
    padding: 10px;
    height: 45px;
    min-height: fit-content;
    background: var(--footerBgnd);
    box-shadow: 0 -2px 5px var(--boxShadow);
}
button{
    background-color: var(--button);
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin: 20px 0;
}
button:hover{
    background-color: var(--hover);
}
@media (max-width: 768px) {
    .legal-container {
        margin: 20px;
        padding: 20px;
    }
    h1 {
        font-size: 1.5rem;
    }
}