*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    position: relative;
    height: 100%;
    width: 100%;
    align-content: center;
    height: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, rgba(139, 177, 126), #a1968c);
    color: #333;
}
main{
    position: absolute;
    justify-items: center;
    align-content: center;
    top: 0;
    width: 100%;
    height: calc(100% - 45px);
    overflow-y: auto;
}
footer {
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    bottom: 0;
    width: 100%;
    height: 45px;
    position: fixed;
    align-content: center;
}
a:hover {
    text-decoration: underline;
}
#contact-form {
    max-width: 768px;
    width: 90%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    height: fit-content;
}
#emailTel{
    text-align: center;
}
#emailTel a{
    text-decoration: none;
    color: #333;
}
.form-group , h2{
    margin: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input, textarea{
    max-width: 768px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}
textarea {
    resize: none;
}
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 15px;
}
button:hover {
    background-color: #0056b3;
}
.back-button {
    background-color: rgba(139, 177, 126);
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}
.back-button:hover {
    background-color: #218838;
}