:root{
    --theme: rgb(201 204 177);
    --text: rgb(65 59 59);
    --gradientTop: rgb(139 177 126);
    --gradientbottom: rgb(161 150 140);
    --border: rgb(139 177 126);
    --boxShadow: rgba(0, 0, 0, 0.1);
    --button: rgb(214 181 150);
    --hover:  rgb(201 159 123);
    --sectionBgnd: rgb(243 233 221);
    --footerBgnd: rgb(243 233 221);
}
*{
    padding: 0;
    margin: 0;
    color: var(--text);
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    position: relative;
    height: 100%;
    width: 100%;
    align-content: center;
    height: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, var(--gradientTop), var(--gradientbottom));
}
main{
    position: absolute;
    justify-items: center;
    align-content: center;
    top: 0;
    width: 100%;
    height: calc(100% - 45px);
    overflow-y: auto;
}
footer {
    text-align: center;
    background: var(--footerBgnd);
    bottom: 0;
    width: 100%;
    height: 45px;
    padding: 10px;
    min-height: fit-content;
    position: fixed;
    align-content: center;
}
a:hover {
    text-decoration: underline;
}
#contact-form {
    max-width: 768px;
    width: 90%;
    background: var(--footerBgnd);
    border-radius: 30px;
    box-shadow: 0 2px 10px var(--boxShadow);
    height: fit-content;
}
#emailTel{
    text-align: center;
}
#emailTel a{
    text-decoration: none;
}
.form-group , h2{
    margin: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input, textarea{
    max-width: 768px;
    width: 100%;
    padding: 8px;
    border: 1px solid var(--border);
    border-radius: 5px;
    font-size: 1em;
}
textarea {
    resize: none;
}
button {
    background-color: var(--button);
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin: 40px 35px;
}
button:hover {
    background-color: var(--hover);
}
